@font-face {
    font-family: 'HangultuelGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.10/HangultuelGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    width: 100%;
    height: 100%;
}

content{
    display: flex;
    flex-direction: row;
}
section{
    width: 30%;
}

main{
    width: 70%;
}

/* 헤더 */
header{
    margin-top: 0;
    margin-right: 95px;
    display: flex;
    float: right;
    display: flex;
    justify-content: space-around;
}

header span {
    font-size: 12px;
}

.head {
    list-style: none;
    padding-left: 0px;
}


/* 사이드바 */
.sidebar{
    padding-top: 70px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    height: 100%;
    /* position: fixed; */
}

.sidebar a{
    text-decoration: none; color:black;
}
.sidebar ul{
  padding: 0;
}

.sidebar li{
    display: flex;
    padding-left: 0px;
    justify-content: space-between; 
}

#title{
    font-size: 30px;
    font-weight: bold;
}

.sidebar #title{
    margin-bottom: 10px;
}

.sidebar span{
    font-size: 11px;
}

.side_title{   
    margin-bottom: 25%;
}

.side_text{
    margin-bottom: 15%;
}

#boy{
    color: #B600FF;
}