{% extends 'base.html' %}
{% load static %}
{% block title %} 메인 {% endblock %}
{% block content %}
<meta charset="UTF-8">
<link rel="stylesheet" href="home.css">
<!-- 시작 -->
<main>
    <div class="main_photo">
        <img src="media/main.png" width="1000" height="700">
    </div><br>

    <div class="category">
        <strong>NEW</strong>
    </div>

    <div class="things">
        <div class="cards">
            <div>
            <div class="card shadow-sm">
              <img src="media/object 1.png" width="330" height="330" alt="상품 사진이유">
              <div class="card-body">
                <p class="card-text">[BAON]]리토니 레이스 나시(2color)</p>
                <p class="card-text"><del>19,000원</del></p>
                <p class="card-text">18,050원</p>
              </div>
            </div>

            <div class="card shadow-sm">
              <img src="media/object 2.png"   width="330" height="330" alt="상품 사진이유">
              <div class="card-body">
                <p class="card-text">[BAON]]셔츠(2color)</p>
                <p class="card-text"><del>19,000원</del></p>
                <p class="card-text">18,050원</p>
              </div>
            </div>

            <div class="card shadow-sm">
              <img src="media/object 3.png"   width="330" height="330" alt="상품 사진이유">
              <div class="card-body">
                <p class="card-text">[BAON]]바지(2color)</p>
                <p class="card-text"><del>19,000원</del></p>
                <p class="card-text">18,050원</p>
              </div>
            </div>
            </div>

            <div>
            <div class="card shadow-sm">
                <img src="media/object 4.png"  width="330" height="330" alt="상품 사진이유">
                <div class="card-body">
                    <p class="card-text">[BAON]셔츠(2color)</p>
                    <p class="card-text"><del>19,000원</del></p>
                    <p class="card-text">18,050원</p>
                  </div>
            </div>

            <div class="card shadow-sm">
                <img src="media/object 5.png"   width="330" height="330" alt="상품 사진이유">
                <div class="card-body">
                    <p class="card-text">[BAON]]니트(2color)</p>
                    <p class="card-text"><del>19,000원</del></p>
                    <p class="card-text">18,050원</p>
                  </div>
              </div>
  
            <div class="card shadow-sm">
                <img src="media/object 6.png"   width="330" height="330" alt="상품 사진이유">
                <div class="card-body">
                    <p class="card-text">[BAON]티셔츠(2color)</p>
                    <p class="card-text"><del>19,000원</del></p>
                    <p class="card-text">18,050원</p>
                  </div>
            </div>
            </div>
        </div>

    <div class="category">
        <strong>BAONHOUSE</strong>
    </div>

        <div class="cards">
            <div>
            <div class="card shadow-sm">
              <img src="media/object 7.png"  width="330" height="330" alt="상품 사진이유">
              <div class="card-body">
                <p class="card-text">[BAON]]바지(2color)</p>
                <p class="card-text"><del>19,000원</del></p>
                <p class="card-text">18,050원</p>
              </div>
            </div>

            <div class="card shadow-sm">
              <img src="media/object 8.png"  width="330" height="330" alt="상품 사진이유">
              <div class="card-body">
                <p class="card-text">[BAON]]바지(2color)</p>
                <p class="card-text"><del>19,000원</del></p>
                <p class="card-text">18,050원</p>   
              </div>
            </div>

            <div class="card shadow-sm">
              <img src="media/object 9.png"   width="330" height="330" alt="상품 사진이유">
              <div class="card-body">
                <p class="card-text">[BAON]]셔츠(2color)</p>
                <p class="card-text"><del>19,000원</del></p>
                <p class="card-text">18,050원</p>
              </div>
            </div>
            </div>

            <div>
            <div class="card shadow-sm">
                <img src="media/object 10.png"   width="330" height="330" alt="상품 사진이유">
                <div class="card-body">
                    <p class="card-text">[BAON]바지(2color)</p>
                    <p class="card-text"><del>19,000원</del></p>
                    <p class="card-text">18,050원</p>
                  </div>
            </div>

            <div class="card shadow-sm">
                <img src="media/object 11.png"   width="330" height="330" alt="상품 사진이유">
                <div class="card-body">
                    <p class="card-text">[BAON]]셔츠(2color)</p>
                    <p class="card-text"><del>19,000원</del></p>
                    <p class="card-text">18,050원</p>
                  </div>
            </div>

            <div class="card shadow-sm">
                <img src="media/object 12.png"   width="330" height="330" alt="상품 사진이유">
                <div class="card-body">
                    <p class="card-text">[BAON]]바지(2color)</p>
                    <p class="card-text"><del>19,000원</del></p>
                    <p class="card-text">18,050원</p>
                  </div>
            </div>
            </div>
        </div>

    <div class="category">
            <strong>BEST</strong>
     </div>
     
     <div class="things">
        <div class="cards">
            <div>
            <div class="card shadow-sm">
              <img src="media/object 13.png"  width="330" height="330" alt="상품 사진이유">
              <div class="card-body">
                <p class="card-text">[BAON]]티셔츠(2color)</p>
                <p class="card-text"><del>19,000원</del></p>
                <p class="card-text">18,050원</p>
              </div>
            </div>

            <div class="card shadow-sm">
              <img src="media/object 14.png"   width="330" height="330" alt="상품 사진이유">
              <div class="card-body">
                <p class="card-text">[BAON]]티셔츠(2color)</p>
                <p class="card-text"><del>19,000원</del></p>
                <p class="card-text">18,050원</p>
              </div>
            </div>

            <div class="card shadow-sm">
              <img src="media/object 15.png"   width="330" height="330" alt="상품 사진이유">
              <div class="card-body">
                <p class="card-text">[BAON]]바지(2color)</p>
                <p class="card-text"><del>19,000원</del></p>
                <p class="card-text">18,050원</p>
              </div>
            </div>
            </div>

            <div>
            <div class="card shadow-sm">
                <img src="media/object 16.png"   width="330" height="330" alt="상품 사진이유">
                <div class="card-body">
                    <p class="card-text">[BAON]]셔츠(2color)</p>
                    <p class="card-text"><del>19,000원</del></p>
                    <p class="card-text">18,050원</p>
                  </div>
            </div>

            <div class="card shadow-sm">
                <img src="media/object 17.png"   width="330" height="330" alt="상품 사진이유">
                <div class="card-body">
                    <p class="card-text">[BAON]]셔츠(2color)</p>
                    <p class="card-text"><del>19,000원</del></p>
                    <p class="card-text">18,050원</p>
                  </div>
            </div>

            <div class="card shadow-sm">
                <img src="media/object 18.png"   width="330" height="330" alt="상품 사진이유">
                <div class="card-body">
                    <p class="card-text">[BAON]]셔츠(2color)</p>
                    <p class="card-text"><del>19,000원</del></p>
                    <p class="card-text">18,050원</p>
                  </div>
            </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div class="footer">
            <div class="box0">
                
            </div>
            <div class="box1">
                <h3>ABOUT US --</h3><br>
                <ul>
                    <span>company . 주식회사 바온 ceo & cpo . 민영서</span><br>
                    <span>business license . 144-88-00730</span><br>
                    <span>online businesslicense . 2017-서울마포-1347</span><br>
                    <span>tel . 02-6223-5788</span><br>
                    <span>address . 서울특별시 은평구 증산로 325 유니온빌딩 3층 303호</span><br>
                    <span>email . alsudtj 12@naver.com  hosting .cafe24</span><br>
                </ul>
            </div>
            <div class="box2">
                <h3>CUSTOMER --</h3><br>
                <ul>
                    <strong>02-6223-5788</strong><br><br>
                    <span>WORK TIME : 12 PM - 6 PM</span><br>
                    <span>LUNCH TIME : 1 PM - 2 PM</span><br>
                    <span>CLOSE :  SAT . SUN . REDDAY </span><br>
                </ul>
            </div>
            <div class="box3">
                <h3>BANK ACCOUNT --</h3><br>
                <ul>
                    <span>국민 371137-04-006421</span><br>
                    <span>신한 140-012-716606 </span><br>
                    <span>예금주 : 주식회사 바온</span><br>
                </ul>
            </div>
            <div class="box4">
    
            </div>
        </div>
    </div>
    </div>
    </div>
</main>
    {% endfor %}
{% endblock %}