{% load static %}

<!DOCTYPE html>
<html lang="ko">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="base.css">
    <title>바온</title>
</head>

<body>
    <style>
        body { 
            font-family: 'HangultuelGothic';
        } 
    </style>

    <header>
        <div>
            <ul class="head">
                <li>
                    <span>LOGOUT</span>
                    <span>MYPAGE</span>
                    <span>ORDER</span>
                    <span>CART</span>
                </li>
            </ul>
        </div>
    </header>
    
    <content>
        <section>
            <div class='sidebar'>
                <ul>
                    <li class='side_title'>
                        <a href="#">
                            <span id='title'>B A O N</span></br>
                        </a>
                    </li>

                    <li class='side_text'>
                        <a href="#">
                        <span><b>BAONHOUSE</b></span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span><b>MADE</b></span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>Hello Summer🍉</span></br>
                        </a>
                    </li>

                    <li class='side_text'>
                        <a href="#">
                        <span>BEST 50</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>NEW 5%</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>OUTER</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>TOP</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>PANTS</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>SKIRT</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>DRESS</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>ACC</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>a good chance</span></br>
                        </a>
                    </li>

                    <li class='side_text'>
                        <a href="#">
                        <span>UNISEX</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span id='boy'>BOY</span></br>
                        </a>
                    </li>

                    <li class='side_text'>
                        <a href="#">
                        <span>당일발송</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>NOTICE</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>Q.A</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>REVIEW</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>출석체크</span></br>
                        </a>
                    </li>

                    <li class='side_text'>
                        <a href="#">
                        <span>채용공고</span></br>
                        </a>
                    </li>

                    <li class='side_text'>
                        <a href="#">
                        <span><img src="instagram.JPG" width="30px" height="30px"></br></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <img src="search.JPG" width="30px" height="30px"></br>
                        </a>
                    </li>
                    <hr size="1px" noshade color="#e4e4e4">

                    <li>
                        <a href="#">
                        <span><b>02-6223-5788</b></span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>WORK TIME : 12 PM - 6 PM</span></br>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span>LUNCH TIME : 1 PM - 2 PM</span></br>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <main>
            
        </main>
    </content>
       
</body>
</html>