@font-face {
    font-family: 'HangultuelGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.10/HangultuelGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header {
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #d0d0d0;
    margin: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 1px #dddddd;
}

main {
    font-family: 'HangultuelGothic';
}

p {
    font-family: 'HangultuelGothic';
    font-size: 13px;
}

.category {
    font-family: 'HangultuelGothic';
    font-size: 18px;
    text-align: center;
    margin: 40px;
}

.main_photo {
    text-align: center;
    margin: 40px;
}

.footer {
    height: 270px;
    width: 100%;
}

.box1 {
    font-family: 'HangultuelGothic';
    font-size: 12px;
    line-height: 20px;
    color: #000000;
	background-color: white;
    border: 1px solid #a7a7a7;
    border-left: none;
    float: left;
    width: 26%;
    height: 250px;
    padding-top: 30px;
    padding-left: 20px;
    padding-left: 20px;
}

.box0 {
    font-family: 'HangultuelGothic';
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    background-color: white;
    border: 1px solid #a7a7a7;
    border-right: none;
    float: left;
    width: 24%;
    height: 250px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.box2, .box3, .box4 {
    font-family: 'HangultuelGothic';
    font-size: 12px;
    line-height: 20px;
    color: #000000;
	background-color: white;
    border: 1px solid #a7a7a7;
    border-left: none;
    float: left;
    width: 14%;
    height: 250px;
    padding-top: 30px;
    padding-left: 20px;
}



/* object !!!!!*/

.cards {
    text-align: center;
}

.card {
	height: 430px;
	width: 330px;
	display: inline-block;
    margin: 0px 10px 22px;
	position: center;
	overflow: hidden;
}